/*************************************************************************************************************************Selecteurs de balises*************************************************************************************************************************/
body {
    background-color: #82ebd8;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;

}

h1 {
    margin: 0;
}

p {
    margin: 0;
}


/*************************************************************************************************************************Selecteurs de classe*************************************************************************************************************************/
.topcontainer {
    background-color: #E4f9f5;
    height: 100%;
    width: 100%;
   }

   .middle-container {
    padding-top: 20px;
   }

.h1-1 { 
    font-family: 'Sacramento', cursive;
    padding-top: 20px;
}

.p1-1 { 
    font-family: 'Montserrat', sans-serif;

}

.cloud1 { 
  position: relative;
  bottom: 200px;
  right: 50px;
}

.mountain { 
   
}

.cloud2 { 
    position: relative;
    bottom: 200px;
    left: 50px;
}

.Photodeprofil { 
    width: 10%;
}

.imgordinateur { 
    width: 2.5%;
}

.imgvolley{ 
    width: 2.5%;
}

/***********************************************************************************************************************Selecteurs d'identifiants***********************************************************************************************************************/

