/*************************************************************************************************************************Selecteurs de balises*************************************************************************************************************************/
body {
    background-color: #E1EEDD;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514E;

}

h1 {
    font-family: 'Sacramento', cursive;
    font-size: 90px;
    margin: 50px auto 0 auto;
    color: #66BFBF;
    line-height: 1;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    margin: 0 auto;
    color: #66BFBF;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
    font-size: 1.5rem;
    font-weight: normal;
    margin: 0;
}

a {
    color: #11999E;
        font-family: 'Montserrat', sans-serif;
        text-decoration: none;
}

a:hover { 
    color: #EAF6F6;
}

p {
    margin: 0;
    line-height: 2;

}

hr {
    border: dotted #c9cccc 6px;
    width: 2%;
    border-bottom: none;
   
}


/*************************************************************************************************************************Selecteurs de classe*************************************************************************************************************************/
.topcontainer {
    background-color: #E4F9F5;
    height: 100%;
    width: 100%;
    padding-top: 50px;
}

.middle-container {
    padding: 50px 0px;
}

.bottom-container {
    background-color: #66BFBF;
    padding: 20px 0 0 0;
}

.cloud1 {
    position: relative;
    bottom: 250px;
    right: 50px;
}

.mountain {}

.cloud2 {
    position: relative;
    bottom: 500px;
    left: 50px;
}

.Photodeprofil {
    width: 10%;
}

.profil-description { 
    margin: 20px auto 0 auto;
    width: 25%;
}

.imgordinateur {
    width: 20%;
    float: left;
    margin-right: 25px;
}

.imgvolley {
    width: 20%;
    float: right;
    margin-left: 25px;
}

.profil {
    margin: 50px auto;

}

.skills {
    margin: 50px auto;
}

.skill-row1 {
    width: 30%;
    margin: 50px auto 25px auto;
    text-align: left;
    position: relative;
    right: 400px;
}

.skill-row2 {
    width: 30%;
    margin: 25px auto 50px auto;
    text-align: left;
    position: relative;
    left: 400px;
}

.contact-me {
    margin: 50px auto;
}

.contact-description { 
    margin: 20px auto;
}

.btn {
    position: relative;
    top: 20px;
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

  .linkedin {
    position: relative;
    right: 5px;
  }

  .Doctolib {
    position: relative;
    left: 5px;
  }

  .copyright { 
    color: #EAF6F6;
    font-size: 0.75em;
  }

  
/***********************************************************************************************************************Selecteurs d'identifiants***********************************************************************************************************************/